<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/public/style.css">
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="flex__container">
  <button class="button__login">Login</button>
  <div class="login__output"></div>

<button class="button__save">Save</button>
<div class="save__output"></div>

<button class="button__load">Load</button>
<div class="load__output"></div>
</div>


<script src="/public/clientScript.js"></script>
</body>
</html>
